google-adk
google-generativeai

aiohttp
dashscope
openai
boto3
cohere
mcp>=1.15.0
requests
tencentcloud-sdk-python

# Alibaba Cloud SDKs
alibabacloud_ecd20200930
alibabacloud_ecd20201002
alibabacloud_eds_aic20230930
alibabacloud_appstream_center20210218
